div:hover {
    border: 5px solid red;
}
div:first-of-type {
    color: aqua;

}
div:nth-of-type(2) {
    color: blue;
}
div:nth-of-type(3) {
    color: red;
    padding: 5px;
}
div:nth-of-type(4) {
    color: brown;
}
div:nth-of-type(5) {
    color: white;
}
div:first-of-type h3  {
    background-color: red;
}
div:nth-of-type(2) h3 {
    background-color: darkred;
}
div:nth-of-type(3) h3 {
    background-color: aqua;
}
div:nth-of-type(4) h3 {
    background-color: deepskyblue;
}
div:nth-of-type(5) h3 {
    background-color: darkgrey;
}
div:nth-child(odd) h3 {
    font-style:italic;
}